><!DOCTYPE html>
<html>
<head>
    <title>Threat Detection Dashboard</title>
</head>
<body>
    <h1>Upload Dev Files for Threat Analysis</h1>
    <form method="POST" enctype="multipart/form-data">
        <label><strong>Config File:</strong></label><br>
        <input type="file" name="config_file" required><br><br>

        <label><strong>Log File:</strong></label><br>
        <input type="file" name="log_file" required><br><br>

        <label><strong>Cloud File:</strong></label><br>
        <input type="file" name="cloud_file" required><br><br>


        <input type="submit" value="Scan">

    </form>

    {% if show_results and threats and threats|length > 0 %}


        <h2>Threats Detected:</h2>
        <ul>
            {% for t in threats %}
                <li>
                    <strong>Threat:</strong> {{ t.threat }}<br>
                    <strong>Type:</strong> {{ t.type }}<br>
                    <strong>Severity:</strong>
                        {% if t.severity == 'High' %}
                            <span style="color: red">{{ t.severity }}</span>
                        {% elif t.severity == 'Medium' %}
                            <span style="color: orange">{{ t.severity }}</span>
                        {% else %}
                            <span style="color: green">{{ t.severity }}</span> 
                        {% endif %}
                        <br>
                    <strong>Fix:</strong> {{ t.fix }}
                </li>
                <hr>
            {% endfor %}
        </ul>

        {% endif %}

        {% if ai_score is not none %}
        <h2>AI Risk Prediciton</h2>
        <p><strong>Risk Score:</strong> {{ ai_score }} (0 = Safe, 1 = Threat)</p>
        
        {% endif %}
</body>
</html>
